<div>
    <h1>{{artistName}}</h1>
    {{#each albums}}
        <div>
            Name: {{this.name}}
            <img width="100" src={{this.images.[0].url}} alt="">
            <a href="/view-tracks/{{this.id}}">View Tracks</a>
        </div>
    {{/each}}
</div>