<div>
    {{#each artists}}
        <div>
            {{this.name}}
            <img src={{this.images.[0].url}} alt="">
            <a href="/albums/{{this.id}}">View Album</a>
        </div>
    {{/each}}
</div>