<form action="/artist-search" method="POST">
  <div class="mb-3">
    <input type="text" class="form-control" id="search" name="search">
  <button type="submit" class="btn btn-primary">Search for an Artist</button>
  </div>
</form>



<form action="/", method="GET">
  <div class="home">
    <label for="artist" class="form-label">Artist</label>
    <input type="text" class="form-control" id="artist" name="artist">
</div>
  <button type="submit" class="btn btn-primary">Search for an Artist</button>
</form>